<div class="searches_form col-sm-3 ml-md-4 mx-2 pl-md-5 mb-3">
  <% unless admin_signed_in? %>
    <div><%= render 'layouts/searches_form' %></div>
  <% end %>

  <div>
    <h4 class="ml-4"><i class="fas fa-tag"></i>Tag</h4>
    <div class="d-flex flex-wrap mb-5">
      <% tag_list.each do |list|%>
        <div class="tag">
          <% unless admin_signed_in? %>
            <%=link_to list.tag,searches_tag_path(tag_id: list.id) %>
          <% else %>
            <%= list.tag %>
          <% end %>
            <%="(#{list.whiskeys.count})" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
