<div class="top_image">
  <h5 class="logout">
    <%= flash[:notice] %>
  </h5>
  <h3 class="message">
    ようこそ、whiskey loversへ！<br>
    こちらはウイスキーのレビューサイトとなっております。<br>
    ゲストログインをしていただいて、お試しする事もできます。
  </h3>
  <h3 class="message2">
    ウイスキーの情報や感想を、ご自身の記録として残しておいたり、<br>
    情報を共有してウイスキーの事をもっと知り、ご自身に合った物を<br>
    見つけて、より良いウイスキーライフを楽しんでいきましょう。
  </h3>
</div>