<%= flash[:notice] %>

<div class="top_image">
  <h3 class="message">
    ようこそ、whiskey loversへ！<br>
    こちらはウイスキーのレビューサイトとなっております。<br>
    ゲストログインをしていただき、お試しする事もできます。
  </h3>
  <h3 class="message2">
    ウイスキーの情報や感想を、ご自身の記録として残しておいたり、<br>
    情報を共有してウイスキーの事をもっと知り、ご自身に合った物と<br>
    出会う事で、よりウイスキーを楽しんでいければと思います。
  </h3>
</div>