@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top_image {
  width: 100%;
  height: 700px;
  background-image: url(../../assets/images/top_image.jpg);
  background-size: cover;
  background-position: center;
}

.message {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
}

