@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// ヘッダーのレイアウト
nav {
  background-color: #372315;
}

.navbar {
  padding: 0;
}

.logo {
  margin-left: 70px;
}

.admin_title {
  color: #FFFFFF;
  font-size: 26px;
  margin: auto;
  margin-left: 60px;
}

// 各ボタン
.link {
  background-color: #573e24;
}
// お知らせ通知
.circle {
  position: absolute;
  padding-left: 70px;
  margin-top: -18px;
  color: #ff9800;
}

// タグ
.tag_thead {
  background-color: #372312;
  color: white;
}

.tag_title {
  text-align: center;
}

// 各ページの見出し
.title {
  text-align: center;
  padding: 30px 0 30px 0;
}

// 新規登録、ログイン画面
.start_image {
  width: 100%;
  height: 100vh;
  background-image: url("./images/start.jpg");
  background-size: cover;
  background-position: center;
}

//編集、退会画面の背景
.user_page_image {
  width: 100%;
  height: 100vh;
  background-image: url("./images/user_page.jpg");
  background-size: cover;
  background-position: center;
}

.image {
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

// フッターの最下部への配置
.footerFixed{
    min-height: 100vh; /* コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* 相対位置 */
    padding-bottom: 80px; /* フッターの高さを指定 */
    box-sizing: border-box;/* ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer {
  width: 100%;
  background-color: #e9d9cf;
  position: absolute;/* 絶対位置 */
  bottom: 0;
}

// ログアウトメッセージ
.logout {
  color: #FFFFFF;
  font-size: 20px;
}

// トップ画像
.top_image {
  display: none;
  width: 100%;
  height: 700px;
  background-image: url("./images/top_image.jpg");
  background-size: cover;
  background-position: center;
}

// トップ画面のメッセージ
.message, .message2 {
  display: none;
  margin-bottom: 0;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'YuMincho', 'Yu Mincho', sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  // 半角英数折返しの設定
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.impression {
  width: 350px;
}

//range_feildのデザイン
input[type="range"] {
  -webkit-appearance: none; //これ無しだとスタイルがほぼ全く反映されないので注意
  appearance: none;
  cursor: pointer; // カーソルを分かりやすく
  outline: none; // スライダーのアウトラインは目障りになるので消す
  background: #e9d9cf; // バーの背景色
  height: 12px; // バーの高さ
  width: 270px; // スライダーの幅
  border-radius: 5px; // バーの端の丸み
  // -webkit-向けのつまみ
  &::-webkit-slider-thumb {
    -webkit-appearance: none; //デフォルトのつまみのスタイルを解除
    background: #351e0a; // 背景色
    width: 18px; // 幅
    height: 18px; // 高さ
    border-radius: 5px; // 円形に
  }
  // -moz-向けのつまみ
  &::-moz-range-thumb {
    background: #351e0a; // 背景色
    width: 18px; // 幅
    height: 18px; // 高さ
    border-radius: 5px; // 円形に
    border: none; // デフォルトの線を消す
  }
  // Firefoxで点線が周りに表示されてしまう問題の解消
  &::-moz-focus-outer {
    border: 0;
  }
}

// taste,scentのレビューのグラフ表示
.taste_scent_graph {
  margin: 10px 0 10px 0;
  height: 30px;
  display: flex;
}

.graph1 {
  height: 15px;
  width: 270px;
  margin: 4px 8px 0 15px;
  background-color: #e9d9cf;
  border-radius: 5px;
  display: flex;
}

.graph2 {
  height: 15px;
  width: 270px;
  margin: 4px 8px 0 8px;
  background-color: #e9d9cf;
  border-radius: 5px;
  display: flex;
}

.point {
  background-color: #351e0a;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.favorite_counts {
  margin-left: 6px;
  color: #e82a2a;
  font-size: 28px;
}

// bootstrapのページネーション補足
.pagination {
  background-color: white;
  justify-content: center;
  border-radius: 0;
  margin: 40px 0;
}

@media screen and (max-width:768px) {

// トップ画面のメッセージ
.message, .message2 {
  display: none;
  margin-bottom: 0;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 13px;
  font-family: 'YuMincho', 'Yu Mincho', sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  }

.logo {
  margin-left: 30px;
}

.logo_size {
  width: 60px;
  height: 60px;
}

// ログアウトメッセージ
.logout {
  color: #FFFFFF;
  font-size: 13px;
}

// お知らせ通知
.circle {
  position: absolute;
  padding-left: 10px;
  margin-top: -33px;
  color: #ff9800;
}

.whiskey_image {
  display: flex;
  justify-content: center;
  margin: 5px 0 20px 0;
}

.table-bordered {
  margin: 0 20px;
}

.graph1 {
  height: 15px;
  width: 270px;
  margin: 4px 8px 0 14px;
  background-color: #e9d9cf;
  border-radius: 5px;
  display: flex;
}

.unsubscribe {
  font-size: 13px;
}

}

@media screen and (max-width:576px) {

.searches_form {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  justify-content: center;
}

}