<div class="user_page_image">
  <div class="image">
    <h3 class="text-center py-5">本当に退会しますか？</h3>

    <div class="d-flex justify-content-center">
      <h5 class="unsubscribe">
        退会すると、ユーザー情報や投稿履歴など全て削除されます。<br>
        退会する場合は「退会する」をクリックしてください。
      </h5>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <div class="mx-3">
        <%= link_to "退会しない", user_path(current_user), class:"link my-3  text-white btn btn-outline-secondary" %>
      </div>
      <div class="mx-3">
        <%= link_to "退会する", withdrawal_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class:"my-3 btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

