<div class="col-md-12 mx-auto text-center pt-3">
  <i class="fab fa-facebook fa-2x"></i>

  <i class="fab fa-twitter fa-2x mx-3"></i>

  <i class="fab fa-instagram fa-2x"></i>
</div>

<div class="col-md-12 mx-auto text-center">
  <p class="pt-2">&copy;whiskey lovers</p>
</div>